.contentWrapper {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.textContainer {
  width: auto;
}

.detailsLink {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-left: 30px;
}

.detailsTitle {
  font-size: 30px;
  margin-left: 20px;
}

.activeLink {
  color: #ffffff;
}

.link {
  padding: 10px;
}
