.list {
  padding: 15px;
  list-style: none;
}
.item {
  border: 1px solid #ffffff;
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 20px;
}
.wrap {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}
.img {
  width: 200px;
  height: 230px;
}
.textInfo {
  display: flex;
  flex-direction: column;
}
.content {
  margin-bottom: 0;
}
