.reviewsListItem {
  border: 1px, solid, #fafafa;
  padding: 10px;
  max-width: 1000px;
  border-radius: 15px;
}

.reviewsList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}

.reviewsListImg {
  width: 300px;
  height: auto;
}
