.list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  color: #ffffff;
}
.listItem {
  display: flex;
  align-items: center;
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 10px;
  width: calc((100% - 3 * 10px) / 4);
  justify-content: center;
}
.rating {
  text-align: center;
}

.title {
  text-align: center;
}

.link {
  color: #ffffff;
  text-decoration: none;
}

.img {
  height: 300px;
  width: 200px;
  margin: auto;
}
