.movieList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.movieListItem {
  border: 1px solid #ffffff;
  padding: 10px;
  width: calc((100% - 30px) / 5);
}

.movieListItemImg {
  width: 100%;
  display: block;
  height: auto;
}

.movieListItemContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
