.castList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.castListItem {
  border: 1px solid #ffffff;
  padding: 10px;
  width: calc((100% - 30px) / 5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
}

.castListItemImg {
  width: 100%;
  display: block;
  height: auto;
}

.castListItemContainer {
  width: 100%;
  height: 100%;
}
